/* 
    ============
        GRID
    ============
*/
.grid-container {
    overflow-y: auto;
    width: 80%;
    height: 90vh;
}

#grid {
    border-collapse: collapse;
}

.grid__cell {
    border: 1px solid black;
    padding-top: 4px;
    padding-left: 1.5px;
    text-align: center;
    position: relative;
}

.grid__cell--empty {
    padding: 2.4rem;
}

/* 
    ==============
        TOKENS
    ==============
*/
.token {
    width: 60px;
    /* border-radius: 50%; */ /* Make token a circle shape */ 
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.token--large {
    width: 120px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.token--dragging {
    opacity: 60%;
    cursor: grabbing;
}

.token--selected {
    border: 3px solid blue;
    border-radius: 50%;
}